Repository ROOT-Sim/core, changes with the owners that CODEOWNERS names for each.
All owners: @Piccions, @alessandropellegrini, @pandelfinger

First revision of local LP rebinding
  src/CMakeLists.txt
  src/ROOT-Sim.h
  src/core/sync.c
  src/datatypes/array.h
  src/datatypes/msg_queue.c
  src/datatypes/msg_queue.h
  src/distributed/distributed_mem.c
  src/gvt/fossil.c
  src/gvt/gvt.c
  src/lp/lp.c
  src/lp/lp.h
  src/lp/msg.h
  src/lp/process.c
  src/parallel/parallel.c
  src/rebind/migration.c
  src/rebind/migration.h
  src/rebind/rebind.c
  src/rebind/rebind.h
Owners: @Piccions, @alessandropellegrini

Fix a rare race condition between GVT and rebind
  src/datatypes/array.h
  src/datatypes/msg_queue.c
  src/rebind/rebind.c
Owners: @Piccions, @alessandropellegrini

Change the base path for update_copyright.py
  scripts/update_copyright.py
Owners: @Piccions, @alessandropellegrini

Fix a use-after-free in msg_queue_fini
  src/datatypes/msg_queue.c
Owners: @Piccions, @alessandropellegrini

Fix a use-after-free in msg_queue_fini
  src/datatypes/msg_queue.c
Owners: @Piccions, @alessandropellegrini

Fix a use-after-free in msg_queue_fini
  src/datatypes/msg_queue.c
Owners: @Piccions, @alessandropellegrini

[FEAT][WIP] Initial work towards committed output
  src/CMakeLists.txt
  src/ROOT-Sim.h
  src/core/output.c
  src/core/output.h
  src/lp/msg.h
  src/lp/process.c
  src/mm/msg_allocator.c
  src/mm/msg_allocator.h
Owners: @Piccions, @alessandropellegrini

Remove redundant allocation code
  src/core/output.c
Owners: @Piccions, @alessandropellegrini

Finished committed output
  src/ROOT-Sim.h
  src/core/output.c
  src/core/output.h
  src/gvt/fossil.c
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

FIX properly free committed output data upon message rollback
  src/core/output.c
  src/core/output.h
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Add file header to output.c
  src/core/output.c
Owners: @Piccions, @alessandropellegrini

Sequential simulation executes committed output immediately
  src/ROOT-Sim.h
  src/core/output.c
Owners: @Piccions, @alessandropellegrini

Bump to newer versions of CI actions
  .github/workflows/build_and_test.yml
  .github/workflows/code_coverage.yml
  .github/workflows/doc_coverage.yml
  .github/workflows/reuse_check.yml
Owners: @Piccions, @alessandropellegrini

Test for committed output
  test/CMakeLists.txt
  test/core/output.c
Owners: @Piccions, @alessandropellegrini

Remove stale msvc code
  src/core/core.h
Owners: @Piccions, @alessandropellegrini

Bump actions to latest version
  .github/workflows/build_and_test.yml
  .github/workflows/code_coverage.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc_coverage.yml
  .github/workflows/reuse_check.yml
Owners: @Piccions, @alessandropellegrini

Revert "Remove stale msvc code"
  src/core/core.h
Owners: @Piccions, @alessandropellegrini

Remove stale msvc code
  src/core/core.h
  src/mm/mm.h
Owners: @Piccions, @alessandropellegrini

Bump actions to latest versions
  .github/workflows/build_and_test.yml
  .github/workflows/code_coverage.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc_coverage.yml
  .github/workflows/reuse_check.yml
  CMakeLists.txt
  README.md
Owners: @Piccions, @alessandropellegrini

Fix thread_affinity_set() on MacOS, improve error handling
  src/arch/thread.c
  src/arch/thread.h
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini

Update REUSE format to toml
  .reuse/dep5
  REUSE.toml
Owners: @Piccions, @alessandropellegrini

Tell codacy to ignore support files
  .codacy.yml
  REUSE.toml
Owners: @Piccions, @alessandropellegrini

Synchronization algorithm no longer a boolean
  src/CMakeLists.txt
  src/ROOT-Sim.h
  src/gvt/termination.c
  src/init.c
  src/lp/process.c
  src/parallel/timewarp.c
  test/CMakeLists.txt
  test/core/load.c
  test/gvt/termination.c
  test/integration/correctness/serial.c
  test/integration/correctness/timewarp.c
  test/integration/phold.c
  test/log/stats.c
  test/mock.c
  test/visibility/visibility_override.c
Owners: @Piccions, @alessandropellegrini

Remove dependency on the test library
  test/CMakeLists.txt
  test/core/load.c
  test/core/sync.c
  test/datatypes/bitmap.c
  test/gvt/termination.c
  test/integration/correctness/application.c
  test/integration/correctness/application.h
  test/integration/correctness/functions.c
  test/integration/correctness/output_256.c
  test/integration/correctness/parallel.c
  test/integration/correctness/serial.c
  test/integration/phold.c
  test/log/stats.c
  test/mm/buddy.c
  test/mm/buddy_hard.c
  test/mm/main.c
  test/mm/parallel.c
  test/mock.c
  test/mock.h
  test/rng.c
  test/self/fail_assert.c
  test/self/fail_explicit.c
  test/self/fail_implicit.c
  test/self/fail_implicit_multi.c
  test/self/fail_top_level_assert.c
  test/self/main.c
  test/self/stubs.c
  test/self/stubs.h
  test/self/unexp_pass_assert.c
  test/self/unexp_pass_plain.c
  test/test-lib.cmake
  test/test.c
  test/test.h
  test/thread.c
  test/visibility/visibility_override.c
  test/visibility/visibility_weak.c
Owners: @Piccions, @alessandropellegrini

Replace update-copyright.py with the update copyright action
  .github/workflows/update-copyright.yml
Owners: @Piccions, @alessandropellegrini

Remove bump-version.py
  docs/CONTRIBUTING.md
  scripts/bump_version.py
  test/CMakeLists.txt
  test/visibility/visibility_weak.c
Owners: @alessandropellegrini, @Piccions

Replace pre-C11 __thread with _Thread_local
  src/core/core.c
  src/core/core.h
  src/core/sync.c
  src/datatypes/msg_queue.c
  src/gvt/fossil.c
  src/gvt/fossil.h
  src/gvt/gvt.c
  src/gvt/gvt.h
  src/gvt/termination.c
  src/log/stats.c
  src/lp/lp.c
  src/lp/lp.h
  src/lp/process.c
  src/mm/auto_ckpt.c
  src/mm/msg_allocator.c
  test/old_tests/gvt/gvt_test.c
Owners: @Piccions, @alessandropellegrini

Reflect HPCS in the README
  README.md
Owners: @Piccions, @alessandropellegrini

Add some const
  src/ROOT-Sim.h
  src/arch/io.c
  src/arch/thread.c
  src/core/sync.c
  src/datatypes/msg_queue.c
  src/distributed/control_msg.c
  src/distributed/mpi.c
  src/gvt/fossil.c
  src/gvt/gvt.c
  src/gvt/termination.c
  src/log/file.c
  src/log/log.c
  src/log/stats.c
  src/lp/process.c
  src/mm/auto_ckpt.c
  src/mm/buddy/buddy.c
  src/mm/buddy/buddy.h
  src/mm/buddy/multi.c
  src/mm/model_allocator.h
  src/mm/msg_allocator.c
  src/parallel/parallel.c
  src/serial/serial.c
  test/datatypes/bitmap.c
  test/gvt/termination.c
  test/integration/correctness/application.c
  test/integration/correctness/functions.c
  test/integration/phold.c
  test/log/stats.c
  test/mm/buddy.c
  test/mm/buddy_hard.c
  test/mm/parallel.c
Owners: @Piccions, @alessandropellegrini

Consistent use of __typeof__
  src/datatypes/heap.h
  src/datatypes/list.h
Owners: @Piccions, @alessandropellegrini

More meaningful variable names
  src/mm/buddy/buddy.c
  src/mm/buddy/buddy.h
  src/mm/buddy/multi.c
  src/mm/buddy/multi.h
  src/mm/model_allocator.h
Owners: @Piccions, @alessandropellegrini

Document test functions
  src/mm/buddy/multi.h
  test/mock.c
  test/rng.c
  test/test.c
  test/thread.c
Owners: @Piccions, @alessandropellegrini

Fix memory order in sync_thread_barrier()
  src/core/sync.c
Owners: @Piccions, @alessandropellegrini

Improve documentation
  src/ROOT-Sim.h
  src/datatypes/list.h
  src/datatypes/msg_queue.c
  src/datatypes/msg_queue.h
  src/gvt/gvt.c
  src/gvt/termination.c
  src/gvt/termination.h
  src/lp/common.h
  src/lp/lp.h
  src/lp/msg.h
  src/lp/process.c
  src/lp/process.h
  src/mm/auto_ckpt.c
  src/mm/buddy/buddy.c
  src/mm/buddy/buddy.h
  src/mm/buddy/ckpt.c
  src/mm/buddy/ckpt.h
  src/mm/buddy/multi.c
Owners: @Piccions, @alessandropellegrini

Update email address in CoC
  docs/CODE_OF_CONDUCT.md
Owners: @alessandropellegrini

Improve documentation
  src/mm/buddy/multi.c
  src/mm/msg_allocator.c
  src/mm/msg_allocator.h
Owners: @Piccions, @alessandropellegrini

Reorganize the mm subsystem
  src/CMakeLists.txt
  src/core/core.h
  src/core/sync.c
  src/datatypes/msg_queue.c
  src/lp/lp.h
  src/lp/process.c
  src/mm/buddy/buddy.c
  src/mm/buddy/checkpoint.c
  src/mm/buddy/checkpoint.h
  src/mm/buddy/multi.c
  src/mm/buddy/multi.h
  src/mm/checkpoint/autonomic.c
  src/mm/checkpoint/checkpoint.h
  src/mm/checkpoint/full.c
  src/mm/checkpoint/incremental.c
  src/mm/model_allocator.c
  src/mm/model_allocator.h
Owners: @Piccions, @alessandropellegrini

Enforce code formatting style
  src/ROOT-Sim.h
  src/core/sync.c
  src/datatypes/heap.h
  src/datatypes/list.h
  src/datatypes/msg_queue.c
  src/init.c
  src/log/file.c
  src/log/file.h
  src/lp/common.h
  src/lp/msg.h
  src/mm/buddy/buddy.c
  src/mm/buddy/buddy.h
  src/mm/buddy/checkpoint.c
  src/mm/buddy/checkpoint.h
  src/mm/checkpoint/autonomic.c
  src/mm/checkpoint/full.c
  src/mm/checkpoint/incremental.c
  src/mm/model_allocator.c
  src/mm/model_allocator.h
  src/serial/serial.c
  src/serial/serial.h
Owners: @Piccions, @alessandropellegrini

Fix erroneous exported function name
  src/mm/buddy/checkpoint.h
Owners: @Piccions, @alessandropellegrini

Reduced memory footprint of autochkp
  src/mm/auto_ckpt.c
  src/mm/auto_ckpt.h
Owners: @Piccions, @alessandropellegrini

CODEOWNERS:

*		@Piccions @alessandropellegrini
docs/*		@alessandropellegrini
.github/*	@alessandropellegrini
src/cuda    @pandelfinger
