Repository ROOT-Sim/core, changes with the owners that CODEOWNERS names for each.
All owners: @Piccions, @alessandropellegrini, @pandelfinger

CODEOWNERS:

*		@Piccions @alessandropellegrini
docs/*		@alessandropellegrini
.github/*	@alessandropellegrini
src/cuda    @pandelfinger

Compile CPU and GPU code together
  src/CMakeLists.txt
  src/cuda/main.cu
  src/cuda/main.h
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Improved message ID generation code
  src/core/core.h
  src/gvt/gvt.h
  src/lp/msg.h
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Compile CPU and GPU code together
  src/CMakeLists.txt
  src/cuda/gpu.cu
  src/cuda/gpu.h
  src/cuda/kernels.h
  src/cuda/phold/event.cu
  src/cuda/phold/event.h
  src/cuda/phold/model.cu
  src/cuda/phold/model.h
  src/cuda/phold/settings.h
  src/cuda/phold/state.h
  src/cuda/queues.h
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Start GPU code at simulation startup
  CMakeLists.txt
  src/CMakeLists.txt
  src/ROOT-Sim.h
  src/arch/platform.h
  src/cuda/cuda_gpu.h
  src/cuda/gpu.cu
  src/cuda/gpu.h
  src/cuda/kernels.cu
  src/cuda/nelder_mead_3d.h
  src/cuda/phold/model.cu
  src/cuda/queues.cu
  src/init.c
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Activate GPU code from phold test
  CMakeLists.txt
  test/integration/phold.c
Owners: @Piccions, @alessandropellegrini

Cleanup GPUTW code
  compile_phold_OptmSync.sh
  kademlia_ConsSync/Event.cu
  kademlia_ConsSync/Event.h
  kademlia_ConsSync/LookupResult.h
  kademlia_ConsSync/PARAMETERS.h
  kademlia_ConsSync/SETTINGS.h
  kademlia_ConsSync/State.h
  kademlia_ConsSync/model.cu
  kademlia_ConsSync/model.h
  kademlia_OptmSync/Event.cu
  kademlia_OptmSync/Event.h
  kademlia_OptmSync/LookupResult.h
  kademlia_OptmSync/PARAMETERS.h
  kademlia_OptmSync/SETTINGS.h
  kademlia_OptmSync/State.h
  kademlia_OptmSync/model.cu
  kademlia_OptmSync/model.h
  kademlia_RevsComp/Event.cu
  kademlia_RevsComp/Event.h
  kademlia_RevsComp/LookupResult.h
  kademlia_RevsComp/PARAMETERS.h
  kademlia_RevsComp/SETTINGS.h
  kademlia_RevsComp/State.h
  kademlia_RevsComp/model.cu
  kademlia_RevsComp/model.h
Owners: @Piccions, @alessandropellegrini

add guards around state saving to allow switching between YAWNS and TW
  src/cuda/phold/model.cu
Owners: @pandelfinger

Experiment ready for non blocking anti-messages
  src/CMakeLists.txt
  src/datatypes/heap.h
  src/datatypes/msg_queue.c
  src/datatypes/msg_skip_list.c
  src/datatypes/msg_skip_list.h
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Improve baseline antis, fix bug in eager deletion
  src/datatypes/heap.h
  src/datatypes/msg_queue.c
  src/datatypes/msg_skip_list.c
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Added/modified code for gpu easy developing
  src/CMakeLists.txt
  src/gvt/gvt.c
  src/log/stats.c
  src/lp/expose_lp_state.c
  src/lp/expose_lp_state.h
Owners: @Piccions, @alessandropellegrini

Implemented a CPU version of GPU PHOLD
  src/CMakeLists.txt
  src/cuda/phold/cpu_curand.cu
  src/cuda/phold/cpu_curand.h
  src/cuda/phold/cpu_model.cu
  test/CMakeLists.txt
  test/integration/phold.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Added functions for copy states from device to host
  src/cuda/kernels.cu
  src/cuda/kernels.h
  src/cuda/phold/model.cu
  src/cuda/phold/model.h
  src/datatypes/msg_queue.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Implemented the follow-the-leader protocol
  src/CMakeLists.txt
  src/cuda/gpu.cu
  src/ftl/ftl.h
  src/ftl/protocol.c
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

refactor follow the leader
  src/ROOT-Sim.h
  src/cuda/gpu.cu
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/datatypes/msg_queue.c
  src/datatypes/msg_queue.h
  src/ftl/protocol.c
  src/log/stats.c
  src/lp/expose_lp_state.h
  src/lp/process.c
  src/lp/process.h
Owners: @Piccions, @alessandropellegrini, @pandelfinger

improved prints
  src/cuda/phold/model.cu
Owners: @pandelfinger

improved prints
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/ftl/protocol.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Added routines to easily inject events into wt queue
  src/cuda/gpu.cu
  src/cuda/queues.cu
  src/datatypes/msg_queue.c
  src/lp/expose_lp_state.c
  src/lp/expose_lp_state.h
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Implemented copy from DEVICE2HOST of event queue
  src/cuda/phold/model.cu
Owners: @pandelfinger

implemented cleaning of the cpu-side queues
  src/cuda/phold/model.cu
  src/lp/process.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

implemented a first attempt of event copy from HOST to SIM
  src/cuda/phold/model.cu
Owners: @pandelfinger

Disabled fake event to resynch gvt from DEVICE to SIM
  src/cuda/gpu.cu
  src/cuda/phold/cpu_model.cu
  src/ftl/protocol.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

improved cpu phold
  src/cuda/phold/cpu_model.cu
Owners: @pandelfinger

updated prints
  src/cuda/gpu.cu
  src/log/stats.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

just pushed all pending work
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/datatypes/msg_queue.c
  src/ftl/protocol.c
  src/lp/expose_lp_state.c
  src/lp/expose_lp_state.h
  src/lp/process.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

added localefor gvt prints
  src/cuda/gpu.cu
  src/log/stats.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

finalized HOST to SIM transfer of pending events
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/datatypes/msg_queue.c
  src/ftl/protocol.c
  src/lp/expose_lp_state.c
  src/lp/process.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

improved SIM to DEVICE aligment
  src/cuda/gpu.cu
  src/cuda/phold/model.cu
  src/ftl/protocol.c
  src/lp/expose_lp_state.c
  src/lp/expose_lp_state.h
  src/lp/process.c
  src/lp/process.h
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Include code to forecast performance
  CMakeLists.txt
  src/CMakeLists.txt
  src/cuda/phold/model.cu
  src/datatypes/msg_queue.c
  src/ftl/cmp_speed.c
  src/ftl/ftl.h
  src/ftl/nelder_mead.c
  src/ftl/nelder_mead.h
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Preliminary integration of decision model
  src/CMakeLists.txt
  src/ftl/cmp_speed.c
  src/ftl/forecast.c
  src/ftl/ftl.h
  src/ftl/nelder_mead.c
  src/ftl/nelder_mead.h
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini

Finalized integreation of decision model
  src/ftl/forecast.c
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini

Aligned wall clock time samples to zero.
  src/ftl/forecast.c
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini

Do not discard older data points
  src/ftl/forecast.c
  src/ftl/ftl.h
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini

Several refactors to improve prints and/or debug.
  src/cuda/gpu.cu
  src/cuda/queues.cu
  src/ftl/forecast.c
  src/lp/process.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Added several functions to manipulate per thread queue.
  src/datatypes/msg_queue.c
  src/datatypes/msg_queue.h
Owners: @Piccions, @alessandropellegrini

Finalized SIM -> HOST -> DEVICE transfer.
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/ftl/protocol.c
  src/lp/expose_lp_state.c
  src/lp/expose_lp_state.h
Owners: @pandelfinger, @Piccions, @alessandropellegrini

[WIP] Phases
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
  src/ftl/ftl.h
  src/ftl/protocol.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Fixed phold with periodic hotspots
  src/cuda/gpu.cu
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/log/stats.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Fixed issues in the forecasting/ftl.
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
  src/ftl/forecast.c
  src/ftl/ftl.h
  src/ftl/protocol.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Added the possibility to switch off CPU simulation
  src/ROOT-Sim.h
  src/cuda/phold/cpu_model.cu
  src/ftl/ftl.h
  src/ftl/protocol.c
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

This commit adds missing macro used by the model to configure rootsim
  src/cuda/gpu.cu
  src/cuda/phold/settings.h
  src/log/stats.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini
