Repository ROOT-Sim/core, changes with the owners that CODEOWNERS names for each.
All owners: @Piccions, @alessandropellegrini, @pandelfinger

CODEOWNERS:

*		@Piccions @alessandropellegrini
docs/*		@alessandropellegrini
.github/*	@alessandropellegrini
src/cuda    @pandelfinger

Minor changes to statistics print
  src/cuda/gpu.cu
  src/log/stats.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Update scripts to process run results
  parse_log.py
  phases.py
  process_log.sh
Owners: @Piccions, @alessandropellegrini

Added command line parameter to choose between cpu,gpu and ftl at runtime
  src/cuda/phold/cpu_model.cu
  src/ftl/protocol.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Found an interesting model
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
Owners: @pandelfinger

handle forecasts based on too few data points correctly
  src/ftl/forecast.c
Owners: @Piccions, @alessandropellegrini

disable LP size adaptation
  src/cuda/gpu.cu
Owners: @pandelfinger

set up phold configuration with gainful switching
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
  src/ftl/protocol.c
  src/log/stats.c
  src/lp/process.c
Owners: @pandelfinger, @Piccions, @alessandropellegrini

Fixed parsing of GPU GVT output
  parse_log.py
  phases.py
  src/cuda/gpu.cu
  src/cuda/phold/settings.h
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Restore and improve some functionality
  parse_log.py
  phases.py
  src/cuda/phold/cpu_model.cu
  src/ftl/ftl.h
  src/ftl/protocol.c
  src/log/stats.c
  src/lp/expose_lp_state.c
Owners: @Piccions, @alessandropellegrini, @pandelfinger

added ENABLE_HOT macro to easily switch from 100% hot/cold
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
Owners: @pandelfinger

Fixed prints for hot/cold phase begin
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
Owners: @pandelfinger

added missing script
  measure_energy.py
Owners: @Piccions, @alessandropellegrini

Fixed phold parameters
  phases.py
  src/cuda/phold/settings.h
  src/ftl/ftl.h
Owners: @Piccions, @alessandropellegrini, @pandelfinger

Added new API for approximated rollback
  src/ROOT-Sim.h
  src/log/stats.c
  src/log/stats.h
  src/lp/process.c
  src/mm/dymelor/dymelor.c
Owners: @Piccions, @alessandropellegrini

Added approximated API
  src/ROOT-Sim.h
  src/mm/dymelor/checkpoint.c
Owners: @Piccions, @alessandropellegrini

Add single run plot script from develop
  src/log/parse/rootsim_plot_single.py
Owners: @Piccions, @alessandropellegrini

Add workaround for bugged GVT flush / termination combination
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini

Fixed old debug mode runtime check bug for tiebreaking
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Fixed old cleanup bug
  src/datatypes/msg_queue.c
Owners: @Piccions, @alessandropellegrini

rcr(ftl) modified headers for simplify test configuration
  src/cuda/phold/settings.h
  src/cuda/phold/test_config.h
Owners: @pandelfinger

rcr(ftl): Disabled verbose compile
  CMakeLists.txt
Owners: @Piccions, @alessandropellegrini

rcr(ftl): removed locale depending prints
  src/cuda/gpu.cu
Owners: @pandelfinger

rcr(ftl): finalized test config for phold
  src/cuda/phold/settings.h
  src/cuda/phold/test_config.h
Owners: @pandelfinger

Prototype allocator for allocation larger than buddy buffer
  src/CMakeLists.txt
  src/datatypes/array.h
  src/mm/buddy/ckpt.c
  src/mm/buddy/ckpt.h
  src/mm/buddy/multi.c
  src/mm/buddy/multi.h
  src/mm/large/large.c
  src/mm/large/large.h
Owners: @Piccions, @alessandropellegrini

WIP: throttling using fossil collection
  src/CMakeLists.txt
  src/gvt/auto_fossil.c
  src/gvt/auto_fossil.h
  src/log/stats.c
  src/log/stats.h
  src/lp/process.c
  src/parallel/parallel.c
  test/integration/phold.c
Owners: @Piccions, @alessandropellegrini

WIP preliminary fossil throttling experiments
  src/gvt/auto_fossil.c
  test/integration/phold.c
Owners: @Piccions, @alessandropellegrini

Workaround for possible livelock at simulation termination
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini

Added ARM specific high resolution timer
  src/arch/timer.h
Owners: @Piccions, @alessandropellegrini

Improved preliminary experiment
  src/lp/process.c
Owners: @Piccions, @alessandropellegrini

Restored original phold test
  test/integration/phold.c
Owners: @Piccions, @alessandropellegrini

Bug fix in queue deinitializer, minor style improvements
  src/datatypes/msg_queue.c
  src/mm/msg_allocator.c
  src/parallel/parallel.c
Owners: @Piccions, @alessandropellegrini

rcr(pads24): added assert on gpu device detection
  src/cuda/gpu.cu
Owners: @pandelfinger

feature(ftl): integrated configurable call back for ftl heuristic
  src/CMakeLists.txt
  src/ROOT-Sim.h
  src/ftl/ftl.h
  src/ftl/ftl_heuristics/aimd.h
  src/ftl/ftl_heuristics/leader_monitor.c
  src/ftl/ftl_heuristics/leader_monitor.h
  src/ftl/protocol.c
  src/init.c
Owners: @Piccions, @alessandropellegrini

reafactor(ftl heuristics): renamed EMPTY as PERIODIC
  src/ROOT-Sim.h
  src/ftl/protocol.c
  src/init.c
Owners: @Piccions, @alessandropellegrini

feature(ftl): finalized heurisicts for ftl
  src/ROOT-Sim.h
  src/ftl/forecast.c
  src/ftl/ftl_heuristics/leader_monitor.c
  src/ftl/protocol.c
Owners: @Piccions, @alessandropellegrini

feature(trace-phold): added phold trace definition
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/settings.h
  src/cuda/phold/settings_cpu.h
  src/cuda/phold/settings_gpu.h
Owners: @pandelfinger

feature(trace-phold): finalized model
  src/cuda/phold/cpu_model.cu
  src/cuda/phold/model.cu
  src/cuda/phold/test_config.h
Owners: @pandelfinger

Prepare the 3.0.0 release
  CMakeLists.txt
  test/visibility/visibility_weak.c
Owners: @Piccions, @alessandropellegrini

Align CI scripts to new actions versions
  .github/workflows/build_and_test.yml
  .github/workflows/codacy-analysis.yml
  .github/workflows/code_coverage.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc_coverage.yml
  .github/workflows/reuse_check.yml
  .github/workflows/website.yml
Owners: @Piccions, @alessandropellegrini

Update README.md
  README.md
Owners: @Piccions, @alessandropellegrini
